
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/******Style Header*********/
.nav{
  display:flex;
  justify-content: space-around;
}
.nav ul{
  width:10%;
  display:flex;
  justify-content:space-around;
  list-style: none;
}
.main{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}






img{
  -webkit-filter: blur(5px);
  filter:blur(5px);

}