
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
h1{
  margin:0;
}

/******Style Header*********/
.header{
  height: 5rem;
}
.nav{
  height:100%;
  padding-top:5px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e74c3c;
  
}
.nav ul{
  width:10%;
  display:flex;
  justify-content:space-around;
  list-style: none;
}



/**********Main Style **********/
.main{
  width: 50%;
  margin: 3rem auto 1rem;
  text-align: center;
}
.startButton{
  border-radius: 6px;
  background-color: #e74c3c;
  border: none;
  width: 50%;
  height: 40px;

}






img{
  -webkit-filter: blur(5px);
  filter:blur(5px);

}