/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  font-family: "Pokemon", "Missigno", Arial, Helvetica, sans-serif;
}
a {
  color: black;
}
label {
  font-family: "Pokemon", "Missigno", Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: "Pokemon";
  src: url("fonts/Pokemon\ GB.ttf");
}
@font-face {
  font-family: "Missigno";
  src: url("fonts/Pokemon\ Unown\ GB.ttf");
}



/**********Main Style **********/
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 20rem;
  margin: 6rem auto;
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.4);
  flex-direction: column;
 
}
.main ul {
  width: 10%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.main ul li{
  margin:1rem;
}
form {
  width: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
form h1{
  margin-bottom: 3rem;
}
/* username = input */
#usernameInput {
  width: 50%;
  margin: 1rem 0;
  min-height: 29px;
  border: none;
  box-shadow: 0px 3px 23px 0px rgba(0, 0, 0, 0.2);
}
#usernameInput:focus {
  font-family: "Pokemon", "Missigno", Arial, Helvetica, sans-serif;
  outline: none 
}
#usernameInput::placeholder {

  font-family: "Pokemon", "Missigno", Arial, Helvetica, sans-serif;
  text-align: center;
}
.btn {
  border-radius: 6px;
  background-color: #e74c3c;
  border: none;
  width: 50%;
  height: 40px;
  color: white;
  font-family: "Pokemon", "Missigno", Arial, Helvetica, sans-serif;
}
.btn:hover {
  transform: scale(1.1) !important;
  transition: 2s;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown {
  display: none;
  position: absolute;
  min-width: 3rem;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 1rem;
  color: black;
}

.rules:hover .dropdown-rules {
  display: block;
  -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
.high-score:hover .dropdown-score {
  display: block;
}
img {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
